<div class="jumbotron">
    <h1>REST Books</h1>
    <p class="lead">Powerfull Web API allows you to search 13 books!</p>
    <p><a href="~/Help" class="btn btn-primary btn-lg">Get started right now! &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>This Web API is built with ASP.NET Web API. </p>
        <p>THe client is built with Javascript and jQuery. To see the client go <a href="/index.html">HERE!</a></p>
    </div>
</div>
