

.book_item {
    width: 400px;
    float: left;
    padding:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 415px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
    .book_item:hover {
        background-color: #E5E5E5;
    }


img {
  width: 50px;
}
#btn_buy {
    position: absolute;
    bottom: 8px;
}



.list-group {
    width: 55%;
}
.list-group li:hover{
    background-color: #E5E5E5;

}
